* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.header {
    position: absolute;
    z-index: 2;
    background-image: url(/public/images/hero.jpg);
    top: 0;
    right: 0;
    width: 100%;
    height: 100vh;
    transition: 0.5s;
}

.header.active {
    right: 350px;
}

.overlay {
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: #1b2f199e;
}


header {
    position: relative;
    z-index: 20;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    padding: 3rem 5rem;
}

header img {
    width: 120px;
    height: auto;
}

.toggle {
    background-image: url(/public/images/menu-icon.png);
    width: 50px;
    height: 50px;
    cursor: pointer;
}

.toggle.active {
    background-image: url(/public/images/close-icon.png);
    width: 50px;
    height: 50px;
    cursor: pointer;
}

.menu {
    position: absolute;
    z-index: 1;
    top: 0;
    right: 0;
    width: 300px;
    height: 100%;
    padding: 4rem;
}

.menu ul {
    position: relative;
}

.menu ul li {
    list-style: none;
    margin-bottom: 2rem;
}

.menu ul li a {
    text-decoration: none;
    font-size: 24px;
    color: #111;
}

.menu ul li a:hover {
    color: #377931;
}

.menu ul li a.active {
    font-weight: 600;
}

.text {
    position: relative;
    z-index: 20;
    color: white;
    padding: 5rem;
}

.text h1 {
    font-size: 5em;
    font-family: "Bricolage Grotesque", sans-serif;
    margin-bottom: 2rem;
}

.text h2.italic {
    font-size: 3em;
    font-style: italic;
    font-family: "Bricolage Grotesque", sans-serif;
}